# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# iOS & macOS related
**.xcworkspace/xcuserdata/
**.xcodeproj/xcuserdata/
**.xcworkspace/xcshareddata/SwiftPM/Package.resolved
Pods/
/ios/Flutter/Generated.xcconfig
/ios/Flutter/flutter_export_environment.sh
/ios/Flutter/Flutter.framework
/ios/Flutter/Flutter.podspec
/ios/Flutter/App.framework
/ios/Flutter/ephemeral
/macos/Flutter/ephemeral
/macos/Flutter/GeneratedPluginRegistrant.swift
/macos/Pods

# Android related
**.gradle
**/android/captures/
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java

# Windows related
/windows/flutter/ephemeral/
/windows/flutter/generated_plugin_registrant.cc

# Linux related
/linux/flutter/ephemeral/

# Web related
/web/build/

# Coverage
coverage/
